.home {
	margin: 0 3rem;
}

.home--section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

@media (min-width: 768px) {
	.home--section {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		padding: 30px;
	}
}

@media (min-width: 1024px) {
	.home--section {
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		padding: 30px;
	}
}

@media (min-width: 1280px) {
	.home--section {
		display: grid;
		grid-template-columns: repeat(4, minmax(0, 1fr));
		padding: 30px;
	}
}

@media (min-width: 1536px) {
	.home--section {
		display: grid;
		grid-template-columns: repeat(6, minmax(0, 1fr));
		padding: 30px;
	}
}
