.card {
	width: min-content;
}

.card > img {
	object-fit: cover;
	width: 275px;
	height: 275px;
	border-radius: 15px;
}

.card--info {
	display: flex;
	justify-content: space-between;
}

.card--infoData {
	display: flex;
	flex-direction: column;
	text-align: left;
	color: #717171;
}

.card--infoTitle,
.card--infoPrice {
	width: 240px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #000;
	font-weight: 600;
}

.card--infoData > p {
	margin: 1px 0;
}

.card--rating {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 3px;
}

.card--rating > p {
	margin: 1px 0;
}

.card--ratingStar {
	margin-top: 5px;
}
