.filters--list {
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 0 5rem;
	overflow-x: auto;
}

.filter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 0.75rem;
	opacity: 0.5;
	padding: 0.75rem 0;
	border-bottom: 2px solid transparent;
	cursor: pointer;
}

.filter:hover {
	border-bottom: 2px solid #ddd;
	opacity: 1;
	transition: 0.1s;
}

.filter--focus {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 0.75rem;
	padding: 0.75rem 0;
	color: #000;
	border-bottom: 2px solid #000;
	transition: 0.1s;
}

.filter--image {
	height: 1.5rem;
	width: 1.5rem;
}
